Source: python-urllib3
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Daniele Tricoli <eriol@debian.org>
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 pybuild-plugin-pyproject,
 python3-all,
 python3-brotli <!nocheck>,
 python3-coverage <!nocheck>,
 python3-cryptography <!nocheck>,
 python3-hatch-vcs,
 python3-hatchling,
 python3-h2,
 python3-httpx <!nocheck>,
 python3-idna <!nocheck>,
 python3-openssl <!nocheck>,
 python3-pytest <!nocheck>,
 python3-pytest-timeout <!nocheck>,
 python3-quart <!nocheck>,
 python3-quart-trio <!nocheck>,
 python3-socks <!nocheck>,
 python3-trio <!nocheck>,
 python3-trustme <!nocheck>
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://urllib3.readthedocs.org
Vcs-Git: https://salsa.debian.org/python-team/packages/python-urllib3.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-urllib3

Package: python3-urllib3
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${python3:Depends},
Recommends:
 ca-certificates
Suggests:
 python3-brotli,
 python3-cryptography,
 python3-idna,
 python3-openssl,
 python3-socks
Description: HTTP library with thread-safe connection pooling for Python3
 urllib3 supports features left out of urllib and urllib2 libraries.
 .
   - Re-use the same socket connection for multiple requests (HTTPConnectionPool
     and HTTPSConnectionPool) (with optional client-side certificate
     verification).
   - File posting (encode_multipart_formdata).
   - Built-in redirection and retries (optional).
   - Supports gzip and deflate decoding.
   - Thread-safe and sanity-safe.
   - Small and easy to understand codebase perfect for extending and
     building upon.
